body {
    margin: 0;
}

/* Navigation Bar ---------------------------------------------------------- */

#logo {
    width: 10vh
}

.custom-navbar {
    padding: 0px !important;
}

.customNav {
    background-color: indigo;
}


.customnav-link {
    color: white !important;
}

/* Hero Section ---------------------------------------------------------- */

.customJumbo {
    /* height: calc(100vh-20px); doesn't appear to apply to flexible jumbrotron element - strikethrough when viewed on Brave Browser developer tool*/
    padding: 5vh 0;
    background-color: aquamarine
}

.customJumbo h2 {
    font-size: 350%;
    color: black
}

.customJumbo h3 {
    color: indigo;
}

.jumboText {
    text-align: center;
}

#profile-pic {
    border-radius: 50%;
    padding: 2rem;
}

/* Project Section ---------------------------------------------------------- */

.project-section {
    padding: 1.5vh 0;
}

.project-section h2 {
    color: indigo;
    padding-bottom: 1rem;
}

.customCard {
    --bs-card-border-width: 0 !important;
}

/* About Me Section ---------------------------------------------------------- */

.aboutme-section {
    padding: 1.5vh 0;
    background-color: darkslateblue;
}

.aboutme-section h2 {
    color: white;
    margin-bottom: 0;
}

.aboutme-section h5 {
    color: indigo
}

.aboutme-skills-contain,
.aboutme-text-contain {
    padding: 1.5rem;
    text-align: center;
}

.customProg {
    margin-bottom: 0.5rem;
}


#whobutton-wrap {
    margin-top: 1rem;
}

#whobutton {
    color: white;
    --bs-btn-color: #fff;
    --bs-btn-bg: indigo;
    --bs-btn-border-color: purple;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: purple;
    --bs-btn-hover-border-color: aquamarine;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: purple;
    --bs-btn-active-border-color: indigo;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: red;
    --bs-btn-disabled-border-color: indigo;
}

.customCard {
    text-align: center;
}

.customCard-image {
    max-width: 75%;
    margin: 0 auto;
}

.skillRow {
    text-align: center;
    align-items: center;
}

.skillText {
    text-align: center;
    font-size: 200%;
}