#logo {
    width: 10vh
}

.customNav {
    background-color: indigo;
}

.customnav-link {
    color: white !important;
}

.customJumbo {
    background-color: aquamarine
}

.customJumbo h2 {
    font-size: 350%;
    color: black
}

.customJumbo h3 {
    color: indigo;
}

.jumboText {
    text-align: center;
}

#profile-pic {
    border-radius: 50%;
    padding: 2rem;
}

#whobutton-wrap {
    margin-top: 1rem;
}

#whobutton {
    color: white;
    --bs-btn-color: #fff;
    --bs-btn-bg: indigo;
    --bs-btn-border-color: purple;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: purple;
    --bs-btn-hover-border-color: aquamarine;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: purple;
    --bs-btn-active-border-color: indigo;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: red;
    --bs-btn-disabled-border-color: indigo;
}

.customCard {
    text-align: center;
}

.customCard-image {
    max-width: 75%;
    margin: 0 auto;
}

.skillRow {
    text-align: center;
    align-items: center;
}

.skillText {
    text-align: center;
    font-size: 200%;
}