#logo {
    width: 10vh
}

.customNav {
    background-color: indigo;
}

.customnav-link {
    color: white !important;
}

.customJumbo {
    background-color: blue;
}

.customJumbo h2 {
    font-size: 350%;
}

.jumboText {
    text-align: center;
    color: white;
}

#profile-pic {
    border-radius: 50%;
    padding: 2rem;
}

#whobutton {
    margin-top: 1rem;
}